<a href="https://colab.research.google.com/github/pavi-de/DE_Assignments/blob/main/Programming_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Write a Python program to convert kilometers to miles?

km = int(input("Enter the value in kilometer: "))

# 1 Kilometer = 0.621371 Mile
converg_ratio = 0.621371

Miles = km *  converg_ratio

print("The value in Miles : ", Miles)

Enter the value in kilometer: 21
The value in Miles :  13.048791

In [5]:
# 2.Write a Python program to convert Celsius to Fahrenheit?

celsius = int(input("Enter the temparature in celsius: "))

fahrenheit = (celsius * 1.8) + 32

print(f"The converstion celsius value {celsius} into Fahrenheit is {fahrenheit} ")

Enter the temparature in celsius: 87
The converstion celsius value 87 into Fahrenheit is 188.6

In [13]:
# 3. Write a Python program to display calendar?

import calendar

year = 2022

print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [15]:
# 4. Write a Python program to solve quadratic equation?

# Solve the quadratic equation ax**2 + bx + c = 0

# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [20]:
# 5. Write a Python program to swap two variables without temp variable?

a = input("Enter the value of A: ")
b = input("Enter the value of B: ")

print(f"\nBefore swap of value A: {a} ")
print(f"Before swap of value B: {b} ")

a, b = b, a

print(f"\nAfer swap of value A: {a} ")
print(f"Afer swap of value B: {b}")

Enter the value of A: 11
Enter the value of B: 22

Before swap of value A: 11
Before swap of value B: 22

Afer swap of value A: 22
Afer swap of value B: 11