<a href="https://colab.research.google.com/github/pavi-de/DE_Assignments/blob/main/Python_Assignment_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. Why do we call Python as a general purpose and high-level programming language?

Ans: Python is a general-purpose language that is broadly applicable across application domains. It is designed to be used in a range of applications like Full Stack development, Web development, Data Science, Automation, Scripting, Gaming etc..
Python is a high-level programming language, because its syntax is very clear and more readable like English language.

# Q2. Why is Python called a dynamically typed language?

Ans: Python is a dynamically typed language. In python don't require data type declaration like other programming langaages ex: C, C++, JAVA etc.
		Ex: name = 'JoyJoy', age = 19 
In able example, not declarning any data type of specified variable of name and age. Python creates reference to variables and its values. Python determines during run-time its data types.

# Q3. List some pros and cons of Python programming language?

Ans:  Pros: Its free & Open Source, Easy to learn and read, Large Community, Extensive libraries, Highly Scalable,Portable, Interpreted language.   
		Cons: Slow compare to other langugage due to line-by-line exection of a code, doesn't support for andriod development, consumes a lot of memory space.

# Q4. In what all domains can we use Python?

Ans: Full stack development, Web Development, Automation, Scripting, Game Development, Machine Learning and Artificial Intelligence,  Data Science and Data Visualization, Desktop GUI, Web Scraping Applications,     Business Applications etcâ€¦

# Q5. What are variable and how can we declare them?

Ans: Python Variable is like place holder/reserved memory location to store values.
         Ex: name = 'JoyJoy, age = 19 # name & age are variables and its store the values.

# Q6. How can we take an input from the user in Python?

In [ ]:
# Ans: using 'input' function, we can prompt key-in/type the required values.

name = input("Type your name to login : ")
print(name)

Type your name to login : JoyJoy
JoyJoy

# Q7. What is the default datatype of the value that has been taken as an input using input() function?

Ans: In Python input() function by default it returns string object.

# Q8. What is type casting?

In [ ]:
# Ans: Type casting is the process of converting of one data type to another data type.
age = '19'
print(type(age)) # string data type
print(type(int(age))) # Converting string data type to integer data type

<class 'str'>
<class 'int'>

# Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

Ans: Using single input() function, we can take multiple input from the user by defining variable with seperator and using methods and list compreshension.

In [ ]:
# Using split() method: split() method helps in getting multiple inputs from users. It breaks the given input by the specified seperators.

name, age = input("Enter your name and age : ").split()
print(name, age)

Enter your name and age : JoyJoy 19
JoyJoy 19

In [ ]:
# Using List compreshension: List comprehension offers a shorter syntax for creating a list from any existing iternable object.

x, y = [int(x) for x in input("Enter two values: ").split()]

Enter two values: 1 2

# Q10. What are keywords?

Ans: Python keywords are reserved words and cannot be used as variable names, function name, or for any other identifiers. Below are the list of reserved keywords.
	['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Q11. Can we use keywords as a variable? Support your answer with reason.

Ans: In Python, keywords are the reserved names that are built-in to Python, so a keyword cannot be used as an identifier - they have a special meaning and we cannot use them as identifier names.

# Q12. What is indentation? What's the use of indentaion in Python?

In [ ]:
# Ans: Python indentation is a way of telling the Python interpreter that a series of statements belong to a single block of code. 
# Block of code is represented using colon(:).

name = "JoyJoy"

if name == "JoyJoy":
  print("Welcome to Python JoyJoy")

Welcome to Python JoyJoy

# Q13. How can we throw some output in Python?

Ans: using print() function, we display the results

# Q14. What are operators in Python?

Ans: Below are the list of operators in Python.
 Arithmetic operators
 Assignment operators
 Comparison operators
 Logical operators
 Identity operators
 Membership operators

# Q15. What is difference between / and // operators?

In [ ]:
# Ans: / : Division gives decimal point result.
#	     // :  Floor Divions gives interger result.
# Ex:
div = 9 / 2
print(div)

floor_div = 9 // 2
print(floor_div)

4.5
4

# Q16. Write a code that gives following as an output
#	```
#	iNeuroniNeuroniNeuroniNeuron
#	```

In [ ]:
org = '\"\"\"\niNeuroniNeuroniNeuroniNeuron \n"\"\"'
print(org)

"""
iNeuroniNeuroniNeuroniNeuron
"""

# Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [ ]:
num = int(input("Enter the number: "))
if num % 2 == 0:
  print("Even Number")
elif num % 2 !=0:
  print("Odd Number")

Enter the number: 3
Odd Number

# Q18. What are boolean operator?

Ans: An expression that evaluates the results to either True = 1 or False = 0

# Q19. What will the output of the following?
1 or 0
0 and 0
True and False and True
1 or 0 or 0

In [ ]:
# 1 or 0 = Ans: 1
# 0 and 0 = Ans : 0
# True and False and True = Ans : False
# 1 or 0 or 0 = 0 Ans: 1

print(1 or 0)
print(0 and 0)
print(True and False and True)
print(1 or 0 or 0)

1
0
False
1

# Q20. What are conditional statements in Python?

Ans: Conditional statement is used to controls the flow of execution depending on some condition.

# Q21. What is use of 'if', 'elif' and 'else' keywords?

Ans: if-elif-else keywords/statement is used in Python for decision-making i,e the program will evaludate test expression and will execute the remaining statements only if the given test expression turns out to be true. This allows validation for multiple expressions.

# Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [ ]:
# Age validation for voting

voter = int(input("Enter your age: "))

if voter >= 18:
  print("I can vote")
elif voter < 18:
  print("I can't vote")

Enter your age: 17
I can't vote

# Q23. Write a code that displays the sum of all the even numbers from the given list.
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

even = []

for i in numbers:
  if i % 2 == 0:
    even.append(i)
  
print(f"The total sum of even number is: {sum(even)}")

The total sum of even number is: 392

# Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [ ]:
user1, user2, user3 = input("Enter 3 numbers").split()

if (user1 >= user2) and (user1 >= user3):
  greatest = user1
elif (user2 >= user1) and (user2 >= user3):
  greatest = user2
else:
  greatest = user3

print("The greatest number is: ", greatest)

Enter 3 numbers11 99 33
The greatest number is:  99

# Q25. Write a program to display only those numbers from a list that satisfy the following conditions
	- The number must be divisible by five
	
	- If the number is greater than 150, then skip it and move to the next number
	
	- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
# divisible by 5, > 150 skip, > 500 stop lookup
numbers = [12, 75, 150, 180, 145, 525, 50]

divisible_no = []

for i in numbers:
  if i > 150:
    continue
  elif i > 500:
    break
  if i % 5 == 0:
    divisible_no.append(i)

print("Numbers divisible by 5 are :", divisible_no)

Numbers divisible by 5 are : [75, 150, 145, 50]

# Q26. What is a string? How can we declare string in Python?

In [ ]:
# String is a data type that stores squences of characters.
# String can be declared in single quote '' and double quote ""

banner = "Welcome to Python Learning Batch"
batch = '2'

print(type(banner))
print(type(batch))
print(banner + " " + batch)

<class 'str'>
<class 'str'>
Welcome to Python Learning Batch 2

# Q27. How can we access the string using its index?

In [ ]:
# String can be accessing use index values and index start from zero(0)

msg = "Hello World"

print(msg[0])
print(msg[1])
print(msg[6:])

H
e
World

# Q28. Write a code to get the desired output of the following
string = "Big Data iNeuron"
desired_output = "iNeuron"

In [ ]:
string = "Big Data iNeuron"

print(f"\"{string[9:]}\"")

"iNeuron"

# Q29. Write a code to get the desired output of the following
string = "Big Data iNeuron"
desired_output = "norueNi"

In [ ]:
string = "Big Data iNeuron"
str_part = string[-1:-8:-1]
print(f"\"{str_part}\"")

"norueNi"

# Q30. Resverse the string given in the above question.
string = "Big Data iNeuron"

In [ ]:
string = "Big Data iNeuron"

print(string[::-1])

norueNi ataD giB

# Q31. How can you delete entire string at once?
string = "Big Data iNeuron"

In [ ]:
string = "Big Data iNeuron"

print(string)

# using delete function, we can delete entire string at once
del string

print(string)

Big Data iNeuron

NameError: ignored

# Q32. What is escape sequence?

An escape sequence is a sequence of characters that, when used inside a character or string, does not represent itself but is converted into another character or series of characters that may be difficult or impossible to express directly, like newline (\n), tab (\t), and so on.

In the escape sequence, a character is preceded by a backslash (\\) followed by the character you want to represent for the new line. We have something like this \\\n.

This character serves as an escape sequence initiator, and every character (one or more) following it is considered an escape sequence.

In [ ]:
# To print newline character \n as string in Python
print("Hello World \\n")

# Escape single quote of apostrophe s and treat as string
print('Hello Joy\'s')

Hello World \n
Hello Joy's

# Q33. How can you print the below string?
'iNeuron's Big Data Course'

In [ ]:
print('iNeuron\'s Big Data Course')

iNeuron's Big Data Course

# Q34. What is a list in Python?

*   List represented in square brackets []
*   List is a collection of ordered sequence elements and allow duplicate values
*   List can store all type of data
*   List is mutable object

# Q35. How can you create a list in Python?

In [ ]:
mylist = ["Joy",19,True,'Welcome',-1]
print(mylist)

['Joy', 19, True, 'Welcome', -1]

# Q36. How can we access the elements in a list?

In [ ]:
# Using index values, we can access elements from list and index values starts from zero(0)
mylist1 = ["Joy",19,"Welcome",True,"Python"]
print(mylist1[2])

Welcome

# Q37. Write a code to access the word "iNeuron" from the given list.
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [ ]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

print(lst[4][2])

iNeuron

# Q38. Take a list as an input from the user and find the length of the list.

In [ ]:
name, age = [x for x in input("Enter your name and age :").split(",")]

mylist = [name, age]

print(mylist)
print(len(mylist))

Enter your name and age :JoyJoy, 19
['JoyJoy', ' 19']
2

# Q39. Add the word "Big" in the 3rd index of the given list.
lst = ["Welcome", "to", "Data", "course"]

In [ ]:
lst = ["Welcome", "to", "Data", "course"]

print("Before inserting the word:",lst)

lst.insert(3,"Big")

print("After inserting the word:",lst)

Before inserting the word: ['Welcome', 'to', 'Data', 'course']
After inserting the word: ['Welcome', 'to', 'Data', 'Big', 'course']

# Q40. What is a tuple? How is it different from list?

Tuple represented in paranthesis () and it is used to store multiple data types items seperated by comma in a single variable. Tuple items are immutable. 

1: Lists are mutable - Tuples are immutable
2: Lists have more built-in methods - Tuples have very less built-in methods

# Q41. How can you create a tuple in Python?

In [ ]:
# Tuple
mytuple = ("Hello", 1,2,3, True)

print(mytuple)
print(type(mytuple))

('Hello', 1, 2, 3, True)
<class 'tuple'>

# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [ ]:
# Creating Tuple
mytuple = ("JoyJoy", 19)
mytuple[1] = 'Kumar' # Tuple is immutable and it does not support item assignment

TypeError: ignored

# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [ ]:
# Tuple only have two buit-in methods i,e count and index. It doesn't have append function to perform an appending.


mytuple1 = ("Hello", 1,2)

#Append
mytuple1.append(3) # Error: 'tuple' object has no attribute 'append'

# Tuple Concatention can be done
mytuple2 = (3,4,5)

tuples = (mytuple1 + mytuple2)
print(tuples)

AttributeError: ignored

# Q44. Take a tuple as an input and print the count of elements in it.

In [ ]:
# Tuple
mytuples = input("Enter the values seperated by commans ,: ").split(",")
tuple1 = tuple(mytuples)

print(tuple1)
print(type(tuple1))

#Count function
tuple2 = (1,2,3,4,1,2)
print(tuple2.count(2))

Enter the values seperated by commans ,: Hello,1,2,3
('Hello', '1', '2', '3')
<class 'tuple'>
2

# Q45. What are sets in Python?

Sets represented in {} and elements in sets seperated by comma(,). It is unordered collection of data type.
Set will not store & display the duplicate elments

# Q46. How can you create a set?

In [ ]:
set1 = {'apple','bananna','cherry','cherry'}

print(set1)

{'bananna', 'cherry', 'apple'}

# Q47. Create a set and add "iNeuron" in your set.

In [ ]:
myset = {"Welcome", "come", 2}
myset.add("iNeuron") # set is unordered and it will get added in any position in sets
print(myset)

{'Welcome', 'iNeuron', 2, 'come'}

# Q48. Try to add multiple values using add() function.

In [ ]:
myset = {1,2,3}
mytup = (4,5,6)

myset.add(mytup)

print(myset)

{1, 2, 3, (4, 5, 6)}

# Q49. How is update() different from add()?

In [ ]:
# set.add - adds an individula element to the set
a = {1,2,3}
a.add(4)
print(a)

# if we try to add mutliple values using add it FAILS
# a.add(5,6) # boz it take exactly one argument

# set.update - we can pass multiple iterables to it
a.update([5,6])
print(a)

print(type(a))

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
<class 'set'>

# Q50. What is clear() in sets?

In [ ]:
# set clear() function, it clear all the elements in the sets

myset = {1,2,3,'Hello',True}
print(myset)
myset.clear()
print(myset)

{1, 2, 3, 'Hello'}
set()

# Q51. What is frozen set?

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.

Frozen set is immutable set for Python set object. 
While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

# Q52. How is frozen set different from set?

In [ ]:
'''
Frozen set is immutable set for Python set object and doesn't have builtin function add n update methods
set is mutable object
'''
#set
myset = {1,2,3}
# mutable
myset.add(4)
myset

# Frozenset
frozset = frozenset(myset)
frozset.add(5)

AttributeError: ignored

# Q53. What is union() in sets? Explain via code.

In [ ]:
# The Python set union() method returns a new set with distinct elements from all the sets
myset1 = {1,2,3,4}
myset2 = {4,5,6,5,6}

myset3 = myset1.union(myset2)
print(myset3)

{1, 2, 3, 4, 5, 6}

# Q54. What is intersection() in sets? Explain via code.

In [ ]:
# The intersection() method returns a set that contains the similarity between sets.

myset1 = {1,2,3,4}
myset2 = {4,5,6}

mysetinter = myset1.intersection(myset2)
mysetinter

{4}

# Q55. What is dictionary in Python?

- Python dictionary is an unordered collection of items and elements are used to store data values in key & value pairs. 
- Python dictionary represented in curly braces {}. 
- dictinoary keys can be created using string and numbers, but not tuple,sets, list
- dictionary not allow for duplicates keys and items are unordered and mutable
- dictionary keys are case senstive

Examples

In [ ]:
mydict = {
    'name' : 'Joy',
    'Name' : 'kumar',
    'name' : 'ab'
          }
mydict

{'name': 'ab', 'Name': 'kumar'}

# Q56. How is dictionary different from all other data structures.

- **Lists:** are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it the most powerful tool in Python.

- **Tuple:** A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

- **Set:** A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

- **Dictionary:** in Python is an ordered (since Py 3.7) and unordered in (Py 3.6 & prior) collection of data values, used to store data values like a map, which, unlike other Data Types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized.

# Q57. How can we delare a dictionary in Python?

In [ ]:
mydict = {
    'name' : 'Joy',
    'Name' : 'kumar',
    'name' : 'ab'
          }
print(mydict)
print(type(mydict))

{'name': 'ab', 'Name': 'kumar'}
<class 'dict'>

# Q58. What will the output of the following?
var = {}
print(type(var))

In [ ]:
var = {} # Empty dictionary
print(type(var))

<class 'dict'>

# Q59. How can we add an element in a dictionary?

In [ ]:
mydict = {
    'name' : 'JoyJoy',
    'age' : 19
    }
mydict['country'] = 'usa'
mydict

{'name': 'JoyJoy', 'age': 19, 'country': 'usa'}

# Q60. Create a dictionary and access all the values in that dictionary.

In [ ]:
dict1 = {
    'name' : 'JoyJoy',
    'age' : 19,
    'country' : 'USA',
    'skiils' :{'Python', 'Hadoop' ,'Bash'}
    }

dict1

for v in dict1.values():
  print("values of dict1 :",v)

values of dict1 : JoyJoy
values of dict1 : 19
values of dict1 : USA
values of dict1 : {'Bash', 'Hadoop', 'Python'}

# Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [ ]:
nested_dict = {
    1 : {'name' : 'JoyJoy', 'age' : 19,'country' :'USA'},
    2 : {'name' : 'Kumar', 'age' : 17, 'country' :'UK'}
    }

#Print complete dictionary elements
print(nested_dict,'\n')

# Iterate throw dictinary and print only values of keys
for k,v in nested_dict.items():
  print(v)

#print specific key of name item
print('\n',nested_dict[1]['name'])

{1: {'name': 'JoyJoy', 'age': 19, 'country': 'USA'}, 2: {'name': 'Kumar', 'age': 17, 'country': 'UK'}}

{'name': 'JoyJoy', 'age': 19, 'country': 'USA'}
{'name': 'Kumar', 'age': 17, 'country': 'UK'}

 JoyJoy

# Q62. What is the use of get() function?

In [ ]:
#  Python Dictionary get() Method return the value for the given key, if present in the dictionary.

nested_dict = {
    1 : {'name' : 'JoyJoy', 'age' : 19,'country' :'USA'},
    2 : {'name' : 'Kumar', 'age' : 17, 'country' :'UK'}
    }

print(nested_dict.get(2))

{'name': 'Kumar', 'age': 17, 'country': 'UK'}

# Q63. What is the use of items() function?

In [ ]:
# dictionary items() function will retrive both key & values of a given dictionary in tuple pair

dict1 = {
    'message' : "Good Morning",
    'Date' : '11/14/2022',
    'Time' : '05:00 AM IST'

    }

print(dict1.items())

dict_items([('message', 'Good Morning'), ('Date', '11/14/2022'), ('Time', '05:00 AM IST')])

# Q64. What is the use of pop() function?

In [ ]:
# The pop() method removes and returns an value element from a dictionary having the given key.

dict2 = {
    'message' : "Good Morning",
    'Date' : '11/14/2022',
    'Time' : '05:00 AM IST'

    }

print(dict2.pop('Time'))
print(dict2)

05:00 AM IST
{'message': 'Good Morning', 'Date': '11/14/2022'}

# Q65. What is the use of popitems() function?

In [ ]:
# Dictionary popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple.

dict = {
    'message' : "Good Morning",
    'Date' : '11/14/2022',
    'Time' : '05:00 AM IST'

    }

print(dict.popitem())
print(dict)

('Time', '05:00 AM IST')
{'message': 'Good Morning', 'Date': '11/14/2022'}

# Q66. What is the use of keys() function?

In [ ]:
# Dictionary keys() function to retreive all keys from the specified dictionary data structure.

dict = {
    'message' : "Good Morning",
    'Date' : '11/14/2022',
    'Time' : '05:00 AM IST'

    }

print(dict.keys())

dict_keys(['message', 'Date', 'Time'])

# Q67. What is the use of values() function?

In [ ]:
# Dictionary values() function to retrive the values from specified dictionary data type.

mydict = {'name' : 'JoyJoy','age' : 19, 'country' : 'India'}

print(mydict.values())

dict_values(['JoyJoy', 19, 'India'])

# Q68. What are loops in Python?

Python for loops are used to loop through an iterable object and perform the some action until certain gets True.

# Q69. How many type of loop are there in Python?

There are 3 types of loops in Python

- for loop
- while loop
- nested loop

# Q70. What is the difference between for and while loops?

- For loop is used to iterate over elements of a sequence. It is often used when you have a piece of code which you want to repeat â€œnâ€ number of time.

- While Loop is used to repeat a block of code. Instead of running the code block once, It executes the code block multiple times until a certain condition is met.

# Q71. What is the use of continue statement?

In [ ]:
# The continue statement is used to skip the rest of the code inside a loop for the current iteration only. 
# Loop does not terminate but continues on with the next iteration.

for i in range(5):
  if i == 2: # skip
    continue
  print(i)

0
1
3
4

# Q72. What is the use of break statement?

In [ ]:
# Python break statement terminates the loop and Control of the program flows to the statement immediately after the body of the loop.

for i in range(5):
  if i == 3:
    break
  print(i)

print("break statement")

0
1
2
break statement

# Q73. What is the use of pass statement?

In [ ]:
# pass statement is used as a placeholder for future code.
# When the pass statment is executed, nothing happens but avaoiding getting an eror when empty code is not allowed

def myfunc():
  pass

# Q74. What is the use of range() function?

In [ ]:
# range() function returns a sequence of numbers in a given range.

for i in range(1,6):
  print(i)

1
2
3
4
5

# Q75. How can you loop over a dictionary?

In [ ]:
mydict = {"name" : 'Joy', 'age' : 19, 'Education' : 'BE', 'color' : 'Black', 'marks' : 50}

for k, v in mydict.items():
  print("Dictionary Keys :", k)
  print("Dictionary values:", v)

Dictionary Keys : name
Dictionary values: Joy
Dictionary Keys : age
Dictionary values: 19
Dictionary Keys : Education
Dictionary values: BE
Dictionary Keys : color
Dictionary values: Black
Dictionary Keys : marks
Dictionary values: 50

# **Coding problems**

# Q76. Write a Python program to find the factorial of a given number.

In [ ]:
import math

num = int(input("Enter the number to find the factorial of it: "))

fact = math.factorial(num)

print(f"The factorial of given number {num} is {fact}")

Enter the number to find the factorial of it: 3
The factorial of given number 3 is 6

In [ ]:
n = int(input("Enter the number to find the factorial of it: "))

factorial = 1

if n < 0:
  print("Factorial cannot be calculated for non-integer input")
elif n == 0:
  print("Factorial of the number is 1")
else:
  for i in range(1,n+1):
    factorial = factorial * i
  print(f"Factorial of the given number {n} is {factorial}")

Enter the number to find the factorial of it: 5
Factorial of the given number 5 is 120

# Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [ ]:
#SI = (PRT)/100
#Enter the Amount
amount = int(input("Enter the amount to find the interest: "))

# Enter the number of years
year = 1

# Enter the rate of interest
interest = 7

SI = (amount * year * interest)/100

print(f"The interest rate for the amount {amount} is {SI}")

Enter the amount to find the interest: 100000
The interest rate for the amount 100000 is 7000.0

# Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [ ]:
import math

def compound_interest(p_amount,time,rate):
  amount = p_amount*(math.pow((1+ (rate/100)),time))
  print("Compound Amount: ", amount)
  CI = amount - p_amount
  return CI

p_amount = float(input("Enter the amount: "))
time = float(input("Enter the time period: "))
rate = float(input("Enter the interest rate: "))

print("Compound interest is:",compound_interest(p_amount,time,rate))

Enter the amount: 100000
Enter the time period: 1
Enter the interest rate: 9
Compound Amount:  109000.00000000001
Compound interest is: 9000.000000000015

# Q79. Write a Python program to check if a number is prime or not.

In [ ]:
number = int(input("Enter the number: "))

if number > 1:
  for i in range(2,int(num/2)+1):
    if(num % i) == 0:
      print(number,"is not a prime number")
      break
  else:
    print(number,"is a prime number")
else:
  print(number,"is not a prime number")

Enter the number: 9
9 is a prime number

# Q80. Write a Python program to check Armstrong Number.

In [ ]:
# input from user
number = int(input("Enter the number: "))

# initialize the sume
sum = 0

# sum of cube of each digit

cube = number

while cube > 0:
  digit = cube % 10
  sum += digit ** 3
  cube //= 10

#result
if number == sum:
  print("Number:",number,"is an Armstrong number")
else:
  print("Number:",number,"is not an Armstrong number")

Enter the number: 111
Number: 111 is not an Armstrong number

# Q81. Write a Python program to find the n-th Fibonacci Number.

In [ ]:
# function recurrsion
def fib_num(n):
   if n<=0:
      print("Fibonacci can't be computed")
   # First Fibonacci number
   elif n==1:
      return 0
   # Second Fibonacci number
   elif n==2:
      return 1
   else:
      return fib_num(n-1)+fib_num(n-2)

#input
n=int(input("Enter the number: "))
print(f"{n} Fibonacci number is ",fib_num(n))

Enter the number: 0
Fibonacci can't be computed
0 Fibonacci number is  None

# Q82. Write a Python program to interchange the first and last element in a list.

In [ ]:
def swap(mylist,pos1,pos2):
  temp=mylist[pos1]
  mylist[pos1]=mylist[pos2]
  mylist[pos2]=temp
  return mylist

mylist = [1,2,3,4,5]
pos1,pos2 = 0,-1

print(swap(mylist,pos1=-1,pos2=0))

[5, 2, 3, 4, 1]

# Q83. Write a Python program to swap two elements in a list.

In [ ]:
def swap(list_, a, b):
    list_[a], list_[b] = list_[b], list_[a]

names = ["Ajay", "Babu", "Chethan", "Dhanush"]
print(names)
swap(names, 2, 3)
print(names)

['Ajay', 'Babu', 'Chethan', 'Dhanush']
['Ajay', 'Babu', 'Dhanush', 'Chethan']

# Q84. Write a Python program to find N largest element from a list.

In [ ]:
def larg_num(lst):

  print(max(lst))

mylist = [11,33,22,245,879,991,1020,5,7,8,999]

larg_num(mylist)

1020

# Q85. Write a Python program to find cumulative sum of a list.

In [ ]:
def cumsum(lst):
  sm = 0
  cum_list=[]
  for i in lst:
    sm = sm + i
    cum_list.append(sm)
  return cum_list

mylist = [10,20,30,40,50]
print(cumsum(mylist))

[10, 30, 60, 100, 150]

# Q86. Write a Python program to check if a string is palindrome or not.

In [ ]:
def palindrome(mystr):
  return mystr == mystr[::-1]

mystr = input("Enter the palindrome string: ")
ispal = palindrome(mystr)

if ispal:
  print("Yes")
else:
  print("No")

Enter the palindrome string: madam
Yes

# Q87. Write a Python program to remove i'th element from a string.

In [ ]:

mystr = "Hello World"

i=1

print("Orginal String: ",mystr)

# initialising new string using replace() method
new_str = mystr.replace(mystr[i-1],"")

print("After removing: ", new_str)

Orginal String:  Hello World
After removing:  ello World

# Q88. Write a Python program to check if a substring is present in a given string.

In [ ]:
str1 = "Hello World"
str2 = "Hello"

#split str1 words
s = str1.split()

#check str2 word in str1

if str2 in s:
  print("Yes")
else:
  print("No")

Yes

# Q89. Write a Python program to find words which are greater than given length k.

In [ ]:
mystring = "Hello Welcome to Python World"

print("Original String: ", mystring)

length = 5

new_str = mystring.split()
lst = list(filter(lambda x: (len(x)>length),new_str))

print("length conditional result of string",lst)

Original String:  Hello Welcome to Python World
length conditional result of string ['Welcome', 'Python']

# Q90. Write a Python program to extract unquire dictionary values.

In [ ]:
mydict = {
    'a' : [0,1,2,3,4,5],
    'b' : [2,3,4,5,6,9],
    'c' : [3,4,5,6,7,8]
}

lst = []

for i in mydict.keys():
  lst.extend(mydict[i])
lst=list(set(lst))
lst.sort()

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q91. Write a Python program to merge two dictionary.

In [ ]:
mydict1 = {
    'name' : 'JoyJoy',
    'height' : 6,
    'country' : 'USA'
}

mydict2 = {
    'name' : 'Kumar',
    'age' : 21,
    'country' : 'UK'
}

mydict3 = mydict2.copy()
mydict3.update(mydict1)

print(mydict3)

{'name': 'JoyJoy', 'age': 21, 'country': 'USA', 'height': 6}

# Q92. Write a Python program to convert a list of tuples into dictionary.
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [ ]:
mylist = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]

mydict = dict(mylist)

mydict

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

# Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [ ]:
mylist = [9, 5, 6]

output = []

for num in mylist:
    cube = num**3
    output.append((num,cube))


print(output)

[(9, 729), (5, 125), (6, 216)]

# Q94. Write a Python program to get all combinations of 2 tuples.
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [ ]:
test_tuple1 = (7, 2) 
test_tuple2 = (7, 8)

#combining of 2 tuples
output = [(x,y) for x in test_tuple1 for y in test_tuple2]
print(output)
output = output + [(x,y) for x in test_tuple2 for y in test_tuple1]

print("\nThe results of tuple: ",output)

[(7, 7), (7, 8), (2, 7), (2, 8)]

The results of tuple:  [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

# Q95. Write a Python program to sort a list of tuples by second item.
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [ ]:
mylist = [('for', 24), ('Geeks', 8), ('Geeks', 30)] 

def lstsort(tup):
  tup.sort(key = lambda a: a[1])
  return tup

print("Sorted Tuple list: ",lstsort(mylist))

Sorted Tuple list:  [('Geeks', 8), ('for', 24), ('Geeks', 30)]

# Q96. Write a python program to print below pattern.
----------
* 
* * 
* * * 
* * * * 
* * * * * 
------------

In [ ]:
def star(n):
  if n==0:
    return
  else:
    star(n-1)
    print("* "*n)

n = 5
star(n)

*
* *
* * *
* * * *
* * * * *

# Q97. Write a python program to print below pattern.
    *
   **
  ***
 ****
*****

In [16]:
n=5;i=0

while(i<=n):
  print(" " * (n -i) + "*" * i)
  i+=1

    *
   **
  ***
 ****
*****

# Q98. Write a python program to print below pattern.
    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [17]:
# Triangle Function
def triangle(n):

  # number of spaces
  k = n - 1

  # for loop
  for i in range(0,n):

    #inner loop
    for j in range(0,k):
      print(end=" ")

    #decrementing k after each loop
    k = k -1

    #inner loop for no of columns
    for j in range(0,i+1):

      #printing starts
      print("* ",end="")

    print("\r")

n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

# Q99. Write a python program to print below pattern.
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [19]:

def number(n):
	
	# initialising number
	num = 1

	# for loop 
	for i in range(0, n):
	
		# re assigning num
		num = 1
	
		# inner loop 
		for j in range(0, i+1):
		
				# printing number
			print(num, end=" ")
		
			# incrementing number at each column
			num = num + 1
	
		# ending line after each row
		print("\r")


n = 5
number(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Q100. Write a python program to print below pattern.
A 
B B 
C C C 
D D D D 
E E E E E

In [22]:

def alphabets(n):
	
	# initialising number
	num = 65

	# for loop 
	for i in range(0, n):
	
	
		# inner loop 
		for j in range(0, i+1):

			#type conversation
			ch = chr(num)
		
				# printing number
			print(ch, end=" ")
		
			# incrementing number at each column
			num = num + 1
	
		# ending line after each row
		print("\r")


n = 5
alphabets(n)

A
B C
D E F
G H I J
K L M N O